@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE 10+ */
*::-ms-scrollbar {
  width: 0;
  height: 0;
}
